.config/alsi/alsi.logo
.config/awesome/xdgmenu.lua
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/custom-papers
.config/shell/.zcompdump
.config/xfce4/help.rc
.config/xfce4/helpers.rc
.config/xfce4/panel/
.config/xfce4/terminal/accels.scm
.config/xfce4/xfce4-screenshooter
.config/xfce4/xfconf/xfce-perchannel-xml/ristretto.xml
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-*
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-terminal.xml
.config/zed/.tmp*
.local/bin/avp
.local/bin/kj-gitbot
.local/bin/pss
.local/bin/pss-old
.local/bin/pss-old-bash
.local/share/python-dateTimeSetter/__pycache__
.local/share/python-dateTimeSetter/dateTime
.local/share/python-dateTimeSetter/dateTime.c
.local/share/python-rainfall/__pycache__
.local/share/python-rainfall/rainfall
.local/share/python-rainfall/rainfall.c
.local/src/dmenu-adwaita/config.h
.local/src/dmenu-adwaita/dmenu
.local/src/dmenu-adwaita/dmenu.o
.local/src/dmenu-adwaita/drw.o
.local/src/dmenu-adwaita/stest
.local/src/dmenu-adwaita/stest.o
.local/src/dmenu-adwaita/util.o
.local/src/dmenu-dunst/config.h
.local/src/dmenu-dunst/dmenu
.local/src/dmenu-dunst/dmenu.o
.local/src/dmenu-dunst/drw.o
.local/src/dmenu-dunst/stest
.local/src/dmenu-dunst/stest.o
.local/src/dmenu-dunst/util.o
