#!/bin/sh

if [ -n "$DISPLAY" ] && xhost >/dev/null; then
    setxkbmap -option compose:ralt
    xset r rate 300 50
    export XPROFILE_X11_SPECIFICS=loaded
else
    echo "x11 is not running... x11-related settings have been skipped"
fi

export EDITOR=nvim
export TERM=xterm-256color
export TMPDIR="/tmp"
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
export PATH="$PATH:$HOME/.local/bin"
export MANPAGER="less --use-color"
export MANROFFOPT="-P -c"

export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

export CARGO_HOME="$XDG_DATA_HOME"/cargo
export GOPATH="$XDG_DATA_HOME"/go
export GOMODCACHE="$XDG_CACHE_HOME"/go/mod
export ANDROID_SDK_HOME="$XDG_CONFIG_HOME"/android
export PASSWORD_STORE_DIR="$XDG_DATA_HOME"/.password-store
export WGETRC="$XDG_CONFIG_HOME"/wget/wgetrc
export INPUTRC="$XDG_CONFIG_HOME"/shell/inputrc
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc
export HISTFILE="$XDG_STATE_HOME"/shell/history
export GNUPGHOME="$XDG_DATA_HOME"/gnupg
export WINEPREFIX="$XDG_DATA_HOME"/wine
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/settings.ini

export ANSIBLE_HOME="${XDG_CONFIG_HOME}/ansible"
export ANSIBLE_CONFIG="${XDG_CONFIG_HOME}/ansible.cfg"
export ANSIBLE_GALAXY_CACHE_DIR="${XDG_CACHE_HOME}/ansible/galaxy_cache"
export ASDF_CONFIG_FILE="${XDG_CONFIG_HOME}/asdf/asdfrc"
export ASDF_DATA_DIR="${XDG_DATA_HOME}/asdf"
export ASPELL_CONF="per-conf $XDG_CONFIG_HOME/aspell/aspell.conf; personal $XDG_CONFIG_HOME/aspell/en.pws; repl $XDG_CONFIG_HOME/aspell/en.prepl"
export ATOM_HOME="$XDG_DATA_HOME"/atom
export AWS_SHARED_CREDENTIALS_FILE="$XDG_CONFIG_HOME"/aws/credentials
export AWS_CONFIG_FILE="$XDG_CONFIG_HOME"/aws/config
export BASH_COMPLETION_USER_FILE="$XDG_CONFIG_HOME"/bash-completion/bash_completion
export BOGOFILTER_DIR="$XDG_DATA_HOME"/bogofilter
export CALCHISTFILE="$XDG_CACHE_HOME"/calc_history
export CD_BOOKMARK_FILE="$XDG_CONFIG_HOME"/cd-bookmark/bookmarks
export CIN_CONFIG="$XDG_CONFIG_HOME"/bcast5
export CUDA_CACHE_PATH="$XDG_CACHE_HOME"/nv
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker
export MACHINE_STORAGE_PATH="$XDG_DATA_HOME"/docker-machine
export ELECTRUMDIR="$XDG_DATA_HOME/electrum"
export ELINKS_CONFDIR="$XDG_CONFIG_HOME"/elinks
export ELM_HOME="$XDG_CONFIG_HOME"/elm
export FCEUX_HOME="$XDG_CONFIG_HOME"/fceux
export FFMPEG_DATADIR="$XDG_CONFIG_HOME"/ffmpeg
export GETIPLAYERUSERPREFS="$XDG_DATA_HOME"/get_iplayer
export GHCUP_USE_XDG_DIRS=true
export GRADLE_USER_HOME="$XDG_DATA_HOME"/gradle
export LEDGER_FILE="$XDG_DATA_HOME"/hledger.journal
export IMAPFILTER_HOME="$XDG_CONFIG_HOME/imapfilter"
export IPFS_PATH="$XDG_DATA_HOME"/ipfs
export IRBRC="$XDG_CONFIG_HOME"/irb/irbrc
export _JAVA_OPTIONS=-Djava.util.prefs.userRoot="$XDG_CONFIG_HOME"/java
export JUPYTER_CONFIG_DIR="$XDG_CONFIG_HOME"/jupyter
export JUPYTER_PLATFORM_DIRS="1"
export K9SCONFIG="$XDG_CONFIG_HOME"/k9s
export KDEHOME="$XDG_CONFIG_HOME"/kde
export KODI_DATA="$XDG_DATA_HOME"/kodi
export KSCRIPT_CACHE_DIR="$XDG_CACHE_HOME"/kscript
export LEIN_HOME="$XDG_DATA_HOME"/lein
export DVDCSS_CACHE="$XDG_DATA_HOME"/dvdcss
export ICEAUTHORITY="$XDG_CACHE_HOME"/ICEauthority
export XCOMPOSEFILE="$XDG_CONFIG_HOME"/X11/xcompose
export XCOMPOSECACHE="$XDG_CACHE_HOME"/X11/xcompose
export LYNX_CFG_PATH="$XDG_CONFIG_HOME"/lynx.cfg
export MATHEMATICA_USERBASE="$XDG_CONFIG_HOME"/mathematica
export MAXIMA_USERDIR="$XDG_CONFIG_HOME"/maxima
export MEDNAFEN_HOME="$XDG_CONFIG_HOME"/mednafen
export MINIKUBE_HOME="$XDG_DATA_HOME"/minikube
export MOST_INITFILE="$XDG_CONFIG_HOME"/mostrc
export MPLAYER_HOME="$XDG_CONFIG_HOME"/mplayer
export MYPY_CACHE_DIR="$XDG_CACHE_HOME"/mypy
export MYSQL_HISTFILE="$XDG_DATA_HOME"/mysql_history
export TERMINFO="$XDG_DATA_HOME"/terminfo
export TERMINFO_DIRS="$XDG_DATA_HOME"/terminfo:/usr/share/terminfo
export N_PREFIX="$XDG_DATA_HOME"/n
export NODE_REPL_HISTORY="$XDG_DATA_HOME"/node_repl_history
export OPAMROOT="$XDG_DATA_HOME/opam"
export EASYOCR_MODULE_PATH="$XDG_CONFIG_HOME/EasyOCR"
export NUGET_PACKAGES="$XDG_CACHE_HOME"/NuGetPackages
export NVM_DIR="$XDG_DATA_HOME"/nvm
export OCTAVE_HISTFILE="$XDG_CACHE_HOME/octave-hsts"
export OCTAVE_SITE_INITFILE="$XDG_CONFIG_HOME/octave/octaverc"
export PARALLEL_HOME="$XDG_CONFIG_HOME"/parallel
export PLATFORMIO_CORE_DIR="$XDG_DATA_HOME"/platformio
export PSQLRC="$XDG_CONFIG_HOME/pg/psqlrc"
export PSQL_HISTORY="$XDG_STATE_HOME/psql_history"
export PGPASSFILE="$XDG_CONFIG_HOME/pg/pgpass"
export PGSERVICEFILE="$XDG_CONFIG_HOME/pg/pg_service.conf"
export PYENV_ROOT="$XDG_DATA_HOME"/pyenv
export AZURE_CONFIG_DIR="$XDG_DATA_HOME"/azure
export GRIPHOME="$XDG_CONFIG_HOME/grip"
export PYTHON_EGG_CACHE="$XDG_CACHE_HOME"/python-eggs
export PLTUSERHOME="$XDG_DATA_HOME"/racket
export RBENV_ROOT="$XDG_DATA_HOME"/rbenv
export NODENV_ROOT="$XDG_DATA_HOME"/nodenv
export INPUTRC="$XDG_CONFIG_HOME"/readline/inputrc
export RECOLL_CONFDIR="$XDG_CONFIG_HOME/recoll"
export REDISCLI_HISTFILE="$XDG_DATA_HOME"/redis/rediscli_history
export REDISCLI_RCFILE="$XDG_CONFIG_HOME"/redis/redisclirc
export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME"/ripgrep/config
export RLWRAP_HOME="$XDG_DATA_HOME"/rlwrap
export SOLARGRAPH_CACHE="$XDG_CACHE_HOME"/solargraph
export RUFF_CACHE_DIR="$XDG_CACHE_HOME"/ruff
export RUSTUP_HOME="$XDG_DATA_HOME"/rustup
export DOT_SAGE="$XDG_CONFIG_HOME"/sage
export SCREENRC="$XDG_CONFIG_HOME"/screen/screenrc
export SINGULARITY_CONFIGDIR="$XDG_CONFIG_HOME/singularity"
export SINGULARITY_CACHEDIR="$XDG_CACHE_HOME/singularity"
export SPACEMACSDIR="$XDG_CONFIG_HOME"/spacemacs
export STARSHIP_CONFIG="$XDG_CONFIG_HOME"/starship.toml
export STARSHIP_CACHE="$XDG_CACHE_HOME"/starship
export TEXMFHOME="$XDG_DATA_HOME"/texmf
export TEXMFVAR="$XDG_CACHE_HOME"/texlive/texmf-var
export TEXMFCONFIG="$XDG_CONFIG_HOME"/texlive/texmf-config
export TEXMACS_HOME_PATH="$XDG_STATE_HOME"/texmacs
export TRAVIS_CONFIG_PATH="$XDG_CONFIG_HOME"/travis
export UNCRUSTIFY_CONFIG="$XDG_CONFIG_HOME"/uncrustify/uncrustify.cfg
export UNISON="$XDG_DATA_HOME"/unison
export RXVT_SOCKET="$XDG_RUNTIME_DIR"/urxvtd
export VAGRANT_HOME="$XDG_DATA_HOME"/vagrant
export VAGRANT_ALIAS_FILE="$XDG_DATA_HOME"/vagrant/aliases
export WORKON_HOME="$XDG_DATA_HOME/virtualenvs"
export VSCODE_PORTABLE="$XDG_DATA_HOME"/vscode
export W3M_DIR="$XDG_STATE_HOME/w3m"
export WAKATIME_HOME="$XDG_CONFIG_HOME/wakatime"
export _Z_DATA="$XDG_DATA_HOME/z"
export ZDOTDIR="$XDG_CONFIG_HOME"/shell
