Xft.dpi:       96
Xft.rgba:      rgb
Xft.antialias: 1
Xft.hinting:   1
Xft.autohint:  0
Xft.hintstyle: hintfull

#define WINDOWGEOMETRY 95x28
! xterm
xterm*dynamiccolors:      true
xterm*utf8:               2
xterm*geometry:           WINDOWGEOMETRY
xterm*visualBell:         off
xterm*highlightSelection: true
xterm*saveLines:          100000
! URxvt
URxvt.modifier: mod1
URxvt*loginShell: true
URxvt.borderless: false
URxvt*dynamicColors: on
URxvt*letterSpace: -1
URxvt.geometry: WINDOWGEOMETRY
URxvt.imLocale: en_US.UTF-8
URxvt.lineSpace: 0
URxvt.loginShell: true
URxvt.saveLines: 5000
URxvt.scrollBar: false
URxvt.scrollstyle: plain
URxvt*termName: xterm-256color
URxvt.transparent: false
URxvt.visualBell: false

! colors
*.boldMode: true
*.colorBDMode: false

! dark-pastels-kj
#define base00_background #2c2c2c
#define base01_gray1 #393939
#define base02_gray2 #515151
#define base03_gray3 #709080
#define base04_gray4 #a09f93
#define base05_foreground #dcdcdc
#define base06_gray5 #e8e6df
#define base07_white #ffffff
#define base08_red #d67979
#define base09_orange #f99157
#define base0A_yellow #dfaf8f
#define base0B_green #60b48a
#define base0C_cyan #8cd0d3
#define base0D_blue #9ab8d7
#define base0E_magenta #dc8cc3
#define base0F_brown #d27b53
#define base_black #3f3f3f
#define base_cursor #69baa7
#define base08_red_bright #dca3a3
#define base0A_yellow_bright #f0dfaf
#define base0B_green_bright #72d5a3
#define base0C_cyan_bright #93e0e3
#define base0D_blue_bright #94bff3
#define base0E_magenta_bright #ec93d3

*.foreground:   base05_foreground
*.background:   base00_background
*.cursorColor:  base_cursor
*.cursorColor2:  base_cursor
*.cursorBlink: never
*.color0:       base_black
*.color1:       base08_red
*.color2:       base0B_green
*.color3:       base0A_yellow
*.color4:       base0D_blue
*.color5:       base0E_magenta
*.color6:       base0C_cyan
*.color7:       base05_foreground
*.color8:       base03_gray3
*.color9:       base08_red_bright
*.color10:      base0B_green_bright
*.color11:      base0A_yellow_bright
*.color12:      base0D_blue_bright
*.color13:      base0E_magenta_bright
*.color14:      base0C_cyan_bright
*.color15:      base07_white
*.color16:      base09_orange
*.color17:      base0F_brown
*.color18:      base01_gray1
*.color19:      base02_gray2
*.color20:      base04_gray4
*.color21:      base06_gray5

XTerm.vt100.faceName: Roboto Mono:size=10:antialias=true
XTerm.vt100.font: -misc-roboto mono-medium-r-normal--10-100-75-75-m-60-iso8859-1

XTerm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font()

URxvt.font: xft: Roboto Mono:size=10:antialias=true

! below requires the resize-font perl extension
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-equal:     resize-font:bigger
URxvt.keysym.C-0:         resize-font:reset
URxvt.keysym.C-question:  resize-font:show