[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kylert/Desktop/chrome-linux79]
row=9
col=25

[/home/kylert/Desktop/chrome-linux45]
row=12
col=25

[/home/kylert/Desktop/Chrome79.AppDir]
row=1
col=25

[/home/kylert/Desktop/chrome65-x86_64.AppImage]
row=7
col=25

[/home/kylert/Desktop/chrome79-x86_64.AppImage]
row=5
col=25

[/home/kylert/Desktop/Chrome45.AppDir]
row=11
col=25

[/home/kylert/Desktop/Screenshot_2023-05-09_22-26-54.png]
row=4
col=25

[/home/kylert/Desktop/chrome45-x86_64.AppImage]
row=8
col=25

[/home/kylert/Desktop/chrome-linux65]
row=2
col=25

[/home/kylert/Desktop/Chrome65.AppDir]
row=3
col=25

[/home/kylert/Desktop/Screenshot_2023-05-09_22-26-42.png]
row=6
col=25

[/home/kylert/Desktop/Screenshot_2023-05-09_23-09-46.png]
row=10
col=25

[167038c6-8030-4071-8af0-ccbb13b2a210]
row=0
col=25

